# id: netconf_lldp
# label: NETCONF And LLDP
# description: Enable NETCONF SSH and LLDP interface all when selected.
# platforms: junos,ex,mx
{% if desired.enable_netconf %}
set system services netconf ssh
{% endif %}
{% if desired.enable_lldp %}
set protocols lldp interface all
{% endif %}
