# id: ntp_servers
# label: NTP Servers
# description: Delete old NTP servers and set the desired NTP servers.
# platforms: junos,ex,mx
{% if desired.cleanup_old_ntp %}
{% for server in existing.ntp_servers %}
{% if server not in desired.ntp_servers %}
delete system ntp server {{ server }}
{% endif %}
{% endfor %}
{% endif %}
{% for server in desired.ntp_servers %}
set system ntp server {{ server }}{{ " prefer" if loop.first and desired.ntp_prefer_first else "" }}
{% endfor %}
